cloudpickle >=0.4.0
ftputil >=3.3.1
numpy >=1.12.1
pandas >=0.19.2
pybedtools >=0.7.9
pyBigWig >=0.3.4
pysam >=0.10.0
python-dateutil >=2.6.0
pytz >=2017.2
PyYAML >=3.12
requests >=2.13.0
six >=1.10.0
cffi >=1.10.0
pyparsing >=2.2.0
biopython >=1.69
argparse >= 1.1
GitPython>=2.1.8
scipy >=1.0.0
