GitPython >=2.1.8
argparse
nose
cloudpickle >=0.4.0
ftputil >=3.3.1
pandas >=0.23.3
scipy >=1.1.0
pybedtools >=0.7.8
pybigwig >=0.2.8
pysam >=0.9.1.4
pyyaml >=3.12
sphinx_bootstrap_theme >=0.4.9
sphinxcontrib-programoutput >=0.8
sphinx >=1.5.2
requests >=2.13.0
cffi >=1.10.0
pyparsing >=2.2.0
biopython >=1.69
matplotlib >=2.0.2
plotnine >=0.5.0
